{% extends 'base.html' %}

{% block title %}Ошибка - Рекомендации{% endblock %}

{% block content %}
<div class="container mt-4">
    <div class="row">
        <div class="col-12">
            <div class="alert alert-danger">
                <h4><i class="fas fa-exclamation-triangle"></i> Ошибка</h4>
                <p>{{ error_message }}</p>
                <a href="{% url 'accounts:dashboard' %}" class="btn btn-primary">
                    <i class="fas fa-arrow-left"></i> Вернуться на главную
                </a>
            </div>
        </div>
    </div>
</div>
{% endblock %}
